<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="header" class="header">
    <div class="header-main">
        <a href="https://nowcoder.com/" class="header-logo">牛客微博</a>
        <div role="search" class="header-search">
            <form method="GET" action="" class="header-search-form">
                <input type="text" class="header-search-input" id="q" name="q" autocomplete="off" value=""
                       placeholder="搜索你感兴趣的内容...">
                <button type="submit" class="header-search-button">
                    <span class="header-search-font">搜索</span>
                    <span class="header-search-icon"></span>
                </button>
            </form>
        </div>
        <div th:if="${ user == null}" class="nav-wrap">
            <ul class="nav">
                <li>
                    <a class="header-link" href="/log">
                        登录
                    </a>
                </li>
                <li>
                    <a class="header-link" href="/register">
                        注册
                    </a>
                </li>

            </ul>
        </div>
        <div th:if="${ user != null}" class="nav-wrap">
            <ul class="nav">
                <li class="nav-noti">
                    <a class="nav-link icon-msg" href="javascript:;">
                        <span class="nav-count">90</span>
                    </a>
                </li>
                <li>
                    <a th:text="${user.name}" class="nav-link icon-user" href="https://nowcoder.com/explore">姓名</a>
                </li>

            </ul>
        </div>
    </div>
</div>
</body>
</html>